<!DOCTYPE html>
<html lang="en">

  {% include head.html %}
  <script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
  <body>

    <div class="container content">
      <header class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          &nbsp;&nbsp;&nbsp;
          {% for page in site.pages_list %}
            <small><a href="{{ page[1]  }}">{{ page[0] }}</a></small>&nbsp;&nbsp;
          {% endfor %}
            <small><a href="http://www.ccs.neu.edu/home/jcf0810/JackFrysinger.pdf">Resume</a></small>
        </h3>
      </header>

      <main>
        {{ content }}
      </main>

      <footer class="footer">
        <small>
          &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time> Jack Frysinger -
          <a href="https://twitter.com/jackfrys">Twitter</a> -
          <a href="https://github.com/jackfrys">GitHub</a> -
          <a href="https://www.linkedin.com/in/jackfrys/">LinkedIn</a>
        </small>
      </footer>
    </div>

  </body>
</html>
